/* WIDTH */
@media (max-width: 1440px) {
    .first__heading {
        font-size: 2rem;
    }

    .first__subheadings h3 {
        font-size: 1.5rem;
    }

    .name-of-service a {
        font-size: 0.75rem;
    }

    .first__arrow-down {
        font-size: 3rem;
    }
}

@media (max-width: 1200px) {
    section#second {
        height: 100%;
    }
}

@media (max-width: 991px) {
    .info-box {
        padding: 1rem 0;
    }

    .info-box__heading p {
        margin-bottom: 0.5rem;
    }

    section#second h3,
    section#third h3.third__heading,
    section#fourth h3,
    footer h3 {
        padding-top: 1rem;
    }
}

@media (max-width: 768px) {
    .first__name-of-services {
        display: none;
    }


    .info-box.one {
        padding-top: 0;
        padding-bottom: 0;
    }

    section#second h3 {
        padding-bottom: 0;
    }

    section#fourth p {
        text-align: center;
    }

    .footer__nav {
        padding-top: 1.5rem;
    }

    .e-mail-send-btn {
        margin: 0 auto;
    }

    .footer__copyrights {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .shadow-box {
        box-shadow: 7px 3px 31px -1px rgba(0, 0, 0, 0.5) !important;
    }

    .shadow-box-opposite {
        box-shadow: 7px 3px 31px -1px rgba(0, 0, 0, 0.5) !important;
        margin-top: 1rem;
    }
}

@media (max-width: 575px) {

    section#first,
    section#second,
    section#third,
    section#fourth,
    footer {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }

    .info-box__heading p {
        font-size: 1.25rem;
    }

    .info-box__info li {
        font-size: 0.75rem;
    }

    section#second h3,
    section#third h3.third__heading,
    section#fourth h3,
    footer h3 {
        font-size: 1.25rem;
        padding-bottom: 1.5rem;
    }

    .service__main h3 {
        font-size: 1.1rem;
    }

    .service__info-head h4 {
        font-size: 1rem;
    }

    .service__info-text p,
    .service__info-text li,
    section#fourth p,
    .footer__copyrights p {
        font-size: 0.75rem;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 768px !important;
    }
}

@media (max-width: 425px) {
    .first__headings {
        padding-top: 0;
    }

    .first__heading {
        font-size: 1.25rem;
    }

    .first__subheadings h3 {
        font-size: 0.75rem;
    }

    .first__arrow-down {
        font-size: 2rem;
        margin-bottom: 6rem !important;
    }
}

@media (max-width: 375px) {
    .info-box__heading p {
        font-size: 1rem;
    }
}

/* HEIGHT */

@media (max-height: 800px) {
    section#second {
        height: 100%;
    }
}

@media (max-height: 768px) {
    .first__headings {
        padding-top: 0;
    }
}

@media (max-height: 690px) {
    .first__name-of-services {
        display: none;
    }

    .first__subheading {
        max-width: 400px;
    }

    .first__heading {
        max-width: 800px;
    }
}

@media (max-height: 363px) {
    .first__arrow-down {
        margin-bottom: 1rem !important;
    }
}