@media (max-width: 1024px) {
    .first__heading {
        font-size: 2rem;
    }

    .first__arrow-down {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {

    .first__heading {
        font-size: 1.75rem;
    }

    .first__subheading,
    .section__headings,
    .service__main h3 {
        font-size: 1.5rem;
    }

    .first__arrow-down {
        font-size: 2.5rem;
    }

    .info-box {
        padding: 0 0 1rem 0;
    }

    .info-box__heading p {
        font-size: 1.25rem;
    }

    .popup-btn,
    .apply-btn {
        font-size: 1.25rem;
    }

    #second_plus .list .container ul,
    .info-box__info ul,
    #third_plus .container ul {
        padding-left: 0;
    }

    .img-office,
    .img-monitoring {
        width: 100%;
    }

    #fourth p {
        text-align: center;
    }

    .footer__copyrights {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 575px) {

    #first .logo {
        width: 100px;
        height: 100px;
        text-align: center;
    }

    #first .logo .site-name {
        width: 100px;
        height: 100px;
        background-size: 100px 100px;
    }

    .first__headings {
        padding-top: 2rem;
    }

    .first__heading {
        font-size: 1.5rem;
    }

    .first__subheading,
    .section__headings,
    .service__main h3 {
        font-size: 1.25rem;
    }

    .modal-body p,
    #fourth p {
        font-size: 0.75rem;
    }
}

@media (max-width: 440px) {
    .first__heading {
        font-size: 1.25rem
    }

    .first__subheading,
    .section__headings,
    .service__main h3,
    .info-box__heading p {
        font-size: 1rem;
    }

    #second,
    #second_plus,
    #third,
    #third_plus,
    #fourth,
    #footer {
        padding: 1rem;
    }

    .info-box__info li,
    .list .container li,
    #third_plus .container li {
        font-size: 0.75rem;
    }

    .popup-btn,
    .apply-btn,
    .readmore-btn {
        font-size: 0.75rem;
    }

    .modal-dialog {
        margin: 1rem;
    }

    .form-group,
    .footer__nav,
    .footer__copyrights {
        font-size: 0.75rem;
    }
}


@media (max-width: 375px) {

    #first,
    #second,
    #second_plus,
    #third,
    #third_plus,
    #fourth,
    #footer {
        padding: 1rem 0.5rem;
    }

    /* .first__heading {
        font-size: 1rem;
    }

    .first__subheading,
    .section__headings,
    .service__main h3,
    .info-box__heading p {
        font-size: 0.75rem;
    } */

    .list .container,
    #third_plus .container {
        padding-right: 0;
        padding-left: 0;
    }
}